{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier un lieu{% endblock %}

{% block body %}
    <h1>Modifier un lieu</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="cell large-2">
        <a class="btn button warning" href="{{ path('app_lieu_index') }}">Retour</a>
    </div>
    <div class="cell large-2">
        {{ include('lieu/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
