{% extends 'layouts/base.html.twig' %}

{% block title %}Ajout lieu{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu</h1>

    {{ include('lieu/_form.html.twig') }}
    <div class="cell large-1">
        <a class="btn button warning"  href="{{ path('app_sortie_new') }}">Retour</a>
    </div>
</div>
{% endblock %}
