{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
    <h1>Edit Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn button warning" href="{{ path('app_site_index') }}">Retour</a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}