{% extends 'layouts/base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
    <h1>Create new Site</h1>

    {{ include('site/_form.html.twig') }}

    <a class="btn button warning" href="{{ path('app_site_index') }}">back to list</a>
{% endblock %}
