{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Participant
{% endblock %}

{% block body %}
        <h1>Modifier un Participant</h1>

        {{ include('participant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class="cell medium-2 large-2">
            <a class="btn button warning" href="{{ path('app_sortie_index') }}">Retour</a>
        </div>
        <div class="cell medium-2 large-2">
            {{ include('participant/_delete_form.html.twig') }}
        </div>
        <div class="cell medium-3 large-3">
            {% if app.user.id == participant.Utilisateur.id %}
                <a class="btn button secondary" href="{{ path('app_check_email') }}">Réinitialiser votre mot de passe</a>
            {% endif %}
        </div>
    </div>{# fin div grid-x dans _form #}
</div>{# fin div container dans _form #}{% endblock %}
