{% extends 'base.html.twig' %}
{# Inscription à une sortie pour un utilisateur #}

{% block title %}Inscription à une sortie{% endblock %}

{% block body %}
    <h1>Inscription à une sortie</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participant_registration') }}">back to list</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
