{% extends 'layouts/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Changement de mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn button primary">Valider le changement de mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
