<div class="grid-x">
    <div class="cell large-6">
        <h2>Sortir.com</h2>
    </div> 
    <div class="cell large-6">
        <ul class="menu">
            <li><a href="{{ path('app_sortie_index') }}">sorties</a></li>
            <li><a href="{{ path('app_register') }}">register</a></li>
            <li><a href="{{ path('app_login') }}">login</a></li>
            <li><a href="#">Four       </a></li>
            <li><a href="#">Five       </a></li>
        </ul>
    </div>
    
</div>