{% extends 'layouts/base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <div class="grid-y"><h1>page de test</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nostrum quisquam sequi est nulla explicabo optio in eaque dolor facere reiciendis amet, fugit sint ipsam vitae aliquid alias molestiae fuga?
        Quam doloribus impedit dolorem quo labore! Consequuntur, aperiam et? Quod, neque? Dolores distinctio sint officia blanditiis numquam, enim laborum consectetur odit facere mollitia tempora unde rerum quaerat magnam aut commodi?
        Tempora, hic ipsum ea laborum aspernatur nemo et reprehenderit magni at ipsa consequuntur neque, porro illum? Quidem, a facere ex sapiente optio temporibus sint necessitatibus autem voluptate explicabo ipsam officiis.
        Debitis ducimus sunt perspiciatis quaerat non aliquid! Vel ipsam temporibus est magni, corporis cumque sunt, facilis voluptatem ducimus quidem ab eum sapiente beatae labore soluta blanditiis vero veniam neque quo.
        Dolores debitis nesciunt tenetur eligendi ullam explicabo eveniet perspiciatis unde architecto, omnis mollitia molestias aspernatur a voluptatibus laudantium eum pariatur temporibus libero natus quaerat nostrum impedit rerum? Magni, illum aliquid!</p>
    </div>
     
   
{% endblock %}