{% extends 'layouts/base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a class="btn button warning"href="{{ path('app_ville_index') }}">Retour</a>
{% endblock %}
